
* {
  box-sizing: border-box;

  /* Make the invisible visible */
  border: thin red solid;
}

a:link {
  color: white;
  text-decoration: none
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.header {
  height: 200px;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  border-top: 0px;
}

.split {
  clear: both;
}

.colspan33 {
  float: left;
  width: 33%;
/*  border-top: 20px;
  border-bottom: 20px;*/
}

.colspan66 {
  float: left;
  width: 66%;
/*  border-top: 20px;
  border-bottom: 20px;*/
}

.colspan25 {
  float: left;
  width: 25%;
/*  border-top: 20px;
  border-bottom: 20px;*/
}

.colspan100 {
  float: left;
  width: 100%;
/*  border-top: 20px;
  border-bottom: 20px;*/
}

.button {
  width: 150px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  text-align: center;
}


